@import './fonts.scss';

section,
footer {
  @apply px-5;

  & > div {
    @apply mx-auto mb-16 max-w-[1296px] md:mb-[72px];
  }

  h4 {
    @apply mb-5;
  }
}

section:first-child > div {
  @apply mt-40 md:mt-[228px];
}

header > div {
  @apply mx-auto max-w-[1346px] px-5;
}

.typed-cursor {
  font-size: 64px;

  line-height: 87px;
  letter-spacing: 0em;
}
